.left {
  float: left;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &:only-child {
    position: relative;
    text-align: center;
  }
}

.right {
  float: right;
}
