*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $gray;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
}
