.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    $light-green-transparent,
    $dark-green-transparent
  );
  margin: 0 auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  transition: transform 0.2s;
  &:hover {
    transform: skewX(10deg) skewy(-5deg) scale(1.03) translateY(-5px);
    text-shadow: 10px 10px 10px $shadow-transparent;
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
