@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin borderRadiusSmall {
  border-radius: 3px;
}
@mixin borderRadiusMedium {
  border-radius: 5px;
}

@mixin borderRadiusLarge {
  border-radius: 10px;
}
